@import "tailwindcss";

@font-face {
  font-family: 'Granary';
  src: url('/fonts/granary/Granary-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Granary';
  src: url('/fonts/granary/Granary-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Granary';
  src: url('/fonts/granary/Granary-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Granary';
  src: url('/fonts/granary/Granary-Semi-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Granary';
  src: url('/fonts/granary/Granary-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  body {
    font-family: 'Granary', sans-serif;
  }
}





