@import "tailwindcss";

@font-face {
  font-family: "Granary";
  src: url("/fonts/granary/Granary-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Granary";
  src: url("/fonts/granary/Granary-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Granary";
  src: url("/fonts/granary/Granary-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Granary";
  src: url("/fonts/granary/Granary-Semi-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Granary";
  src: url("/fonts/granary/Granary-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  body {
    font-family: "Granary", sans-serif;
  }
}

@layer components {
  .link-underline-effect {
    position: relative;
    display: inline-block;
  }

  .link-underline-effect::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Position below text */
    width: 0;
    height: 2px;
    background-color: currentColor; /* Inherit text color */
    transition: width 0.3s ease-out; /* Smooth transition */
  }

  .link-underline-effect:hover::after {
    width: 100%;
  }
}

@keyframes rotateCircle {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.marquee-rotate-container {
  animation: rotateCircle 15s linear infinite; /* Adjust duration for speed */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}
